// -*- mode: scss; indent-tabs-mode: nil; css-indent-offset: 2 -*-

// Written in 2017 by Mohammed Sadiq <www.sadiqpk.org>

// To the extent possible under law, the author(s) have dedicated all
// copyright and related and neighboring rights to this software to
// the public domain worldwide. This software is distributed without
// any warranty.

// You should have received a copy of the CC0 Public Domain Dedication
// along with this software. If not, see
// <http://creativecommons.org/publicdomain/zero/1.0/>.


#content .post-title {
  font-size: 1em;
  display: table-row;
  .ptitle {
    display: table-cell;
  }

  .date {
    display: table-cell;
    color: #777;
    padding-right: 2.5em;
  }

  a {@include box-shadow(0 0px $color-blue);}
  a:hover {
    color: #111;
    @include box-shadow(0 5px $color-blue);
  }
}
