// -*- mode: scss; indent-tabs-mode: nil; css-indent-offset: 2 -*-

// Written in 2017 by Mohammed Sadiq <www.sadiqpk.org>

// To the extent possible under law, the author(s) have dedicated all
// copyright and related and neighboring rights to this software to
// the public domain worldwide. This software is distributed without
// any warranty.

// You should have received a copy of the CC0 Public Domain Dedication
// along with this software. If not, see
// <http://creativecommons.org/publicdomain/zero/1.0/>.


// Will I ever use higher than h5?
h1, h2, h3, h4, h5 {
  position: relative;
  margin: 0;
  padding: 0;
  color: $color-head;
}

h1 {
  margin: 1.1em 0 1.65em -1em;
  font-weight: normal;
  line-height: 1em;
}

@mixin h1-sm(){
  h1 {
    margin: 1.1em 0 1.65em 0;
    font-weight: normal;
  }
}

%h-margin {
  margin: 2.8em 0 0.7em;
}

h2 {
  font-weight: 500;
  font-size: 1.2em;
  @extend %h-margin;
}

h3 {
  @extend %h-margin;
  font-size: 1em;
  color: $color-blue
}

