// -*- mode: scss; indent-tabs-mode: nil; css-indent-offset: 2 -*-

// Written in 2017 by Mohammed Sadiq <www.sadiqpk.org>

// To the extent possible under law, the author(s) have dedicated all
// copyright and related and neighboring rights to this software to
// the public domain worldwide. This software is distributed without
// any warranty.

// You should have received a copy of the CC0 Public Domain Dedication
// along with this software. If not, see
// <http://creativecommons.org/publicdomain/zero/1.0/>.


.nav {
  position: absolute;
  width: 100%;
  text-align: left;
  font-size: 0.7em;
  border-bottom: 1px solid $color-hr-bg;

  .f-left {margin-left: 25px;}
  .f-right {margin-right: 25px;}

  ul {
    list-style: none;
    li {display: inline-block;}
  }
}

@mixin nav-main-sm() {
  .nav {
    border: 0;
    font-size: 1em;
    ul li {
      background-color: $color-white;
      display: list-item;
    }

    li, .active {border: none;}
  }
}
