// -*- mode: scss; indent-tabs-mode: nil; css-indent-offset: 2 -*-

// Written in 2017 by Mohammed Sadiq <www.sadiqpk.org>

// To the extent possible under law, the author(s) have dedicated all
// copyright and related and neighboring rights to this software to
// the public domain worldwide. This software is distributed without
// any warranty.

// You should have received a copy of the CC0 Public Domain Dedication
// along with this software. If not, see
// <http://creativecommons.org/publicdomain/zero/1.0/>.


.nav {
  a {
    z-index: 999;
    display: inline-block;
    padding: 10px 22px 10px 12px;
    color: #555;
    transition: box-shadow 0.3s;
  }

  a:hover {
    text-decoration: none;
    box-shadow: inset 0 -5px $color-blue;
    color: #222;
  }

  a:before {
    font-family: "FontAwesome", "Font Awesome";
    font-size: 0.9em;
    opacity: 0.3;
    display: inline-block;
    vertical-align: middle;
    padding-right: 7px;
  }

  .active {
    box-shadow: inset 0 -5px $color-blue;
    color: #333;
  }
  .active:before {opacity: 0.8;}

  @include before(home, " ");
  @include before(blog, " ");
  @include before(feed, " ");
  @include before(code, " ");
  @include before(diary, " ");
  @include before(donate, " ");
  @include before(gitlab, " ");
  @include before(github, " ");
}


@mixin nav-links-sm() {
  .nav a:hover {
    text-decoration: none;
    box-shadow: none;
    color: #222;
  }

  .nav .active {
    box-shadow: none;
    color: #333;
  }
}
