// -*- mode: scss; indent-tabs-mode: nil; css-indent-offset: 2 -*-

// Written in 2017 by Mohammed Sadiq <www.sadiqpk.org>

// To the extent possible under law, the author(s) have dedicated all
// copyright and related and neighboring rights to this software to
// the public domain worldwide. This software is distributed without
// any warranty.

// You should have received a copy of the CC0 Public Domain Dedication
// along with this software. If not, see
// <http://creativecommons.org/publicdomain/zero/1.0/>.


@mixin new-color($color, $value) {
  .#{$color} {
    color: $value;
  }

  .#{$color}-bg {
    background-color: $value;
  }
}

@mixin font($family, $path, $style, $weight, $alt-name1, $alt-name2: '') {
  @font-face {
    font: {
      family: $family;
      style: $style;
      weight: $weight;
    }

    @if $alt-name2== ''{
      src: local("#{$alt-name1}");
    } @else {
      src: local("#{$alt-name1}"), local("#{$alt-name2}");
    }

    src: url('#{$path}.woff2') format('woff2'),
    url('#{$path}.woff') format('woff'),
    url('#{$path}.ttf') format('truetype');
  }
}

@mixin before($class, $content) {
  .#{$class}:before {
    content: "#{$content}";
  }
}

@mixin vendorize($map, $vendors: webkit moz ms o) {
  @each $property, $value in $map {
    @each $vendor in $vendors {
      #{"-" + $vendor + "-" + $property}: #{$value};
    }
    #{$property}: #{$value};
  }
}

@mixin no-select(){
  -webkit-touch-callout: none;
  @include vendorize((user-select: none));
}

@mixin box-shadow($value...){
  -webkit-box-shadow: $value;
  box-shadow: $value;
}
