// -*- mode: scss; indent-tabs-mode: nil; css-indent-offset: 2 -*-

// Written in 2017 by Mohammed Sadiq <www.sadiqpk.org>

// To the extent possible under law, the author(s) have dedicated all
// copyright and related and neighboring rights to this software to
// the public domain worldwide. This software is distributed without
// any warranty.

// You should have received a copy of the CC0 Public Domain Dedication
// along with this software. If not, see
// <http://creativecommons.org/publicdomain/zero/1.0/>.


// Media breakpoints
// It is a Programmer error to not set this.
$breakpoints: (
  'very-small': 'screen and (max-width: 35em)',
  'small': 'screen and (max-width: 49em)',
  'medium': 'screen and (max-width: 62.5em)',
  'large': 'screen and (min-width: 62.5em)',
) !default;


// Fonts
$font-text: ('Roboto', 'FontAwesome', 'Rachana', 'Arial', sans-serif) !default;
// I may write Malayalam comments
$font-code: ('Ubuntu Mono', 'FontAwesome', 'Monaco', 'Rachana', monospace) !default;

$font-default-weight: 400;


// Colors
$color-blue: #2196f3 !default;
$color-llblue: #e3f2fd !default;
$color-green: #4caf50 !default;
$color-red: #f44336 !default;
$color-orange: #ff9800 !default;
$color-llorange: #fff3e0 !default;
$color-pink: #e91e63 !default;
$color-white: #fff !default;

$color-text-dark: #333 !default;
$color-text-medium: #555 !default;
$color-text-light: #666 !default;

$color-bg-selected: $color-blue !default;

$color-hr-bg: #ccc !default;

$color-head: #333 !default;
$color-h1: #eee !default;
$color-h2: #eee !default;
$color-h3: #eee !default;
$color-h4: #eee !default;

$color-code-bg: #fff !default;
$color-code-text: #333 !default;
$color-code-border: #eee !default;

$color-nav-text: #333 !default;
$color-nav-bg: #fff !default;
$color-nav-bg-secondary: #fff !default;

$color-body-bg: #fff !default;
$color-body-text: #000 !default;

$color-footer-bg: #fff !default;
$color-footer-text: #333 !default;
